@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-carrosel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.imagens img {
    border-radius: 5px;
    width: 300px;
    margin: 30px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

.imagens img:hover {
    transform: scale(1.2);
    filter: drop-shadow(15px 7px 5px rgba(0, 0, 0, 0.384));
}
