@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-carrosel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.imagens img {
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.425);
}