@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 40px;
}

.fale-conosco {
    width: 500px;
}

.fale-conosco p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    text-align: justify;
}

.fale-conosco span {
    font-weight: bolder;
    font-size: 2em;
}

.form {

    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    font-family: monospace, sans-serif;
}

.form span {
    font-weight: 100;
    color: rgba(177, 175, 175, 0.74);
}

.nomes {
    display: flex;
    gap: 5px;
}

.nomes input {
    padding: 16px;
    background-color: #fafafa;
    border: 1px solid rgba(128, 128, 128, 0.753);
    font-size: 16px;
}

.nome {
    display: flex;
}

.sobrenome {
    display: flex;
}

.continuacao-form input {
    margin-top: 10px;
    padding: 16px;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid rgba(128, 128, 128, 0.753);
    font-size: 16px;
}

.continuacao-form label {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}

textarea {
    margin-top: 10px;
    background-color: #fafafa;
}

.form button {
    width: 120px;
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: 1.1em;
    font-family: monospace;
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(71, 71, 71);
}

.form button:active {
    background-color: rgb(114, 114, 114);
}

